/* Fondo del footer con gradiente lineal */
footer {
    background-color: nth($color-list, 6);
    border: $borde-normal;
    box-shadow: 1px -1px 5px 0 rgb(0 0 0 / 50%);

    /* Ubicación de Logo, Redes y Contacto */
    .menu-redes {
        @include parametros-display (space-between);
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        /* El tamaño y la ubicación del Logo */
        .logo-marron {
            width: 100px;
            padding-left: 15px;
            padding-top: 15px;
        }

        /* Para sacarle las viñetas a la lista */
        ul {
            list-style: none;
        }

        /* Para sacarle el subrayado y el azul a los links */
        a {
            text-decoration: none;
            color: nth($color-list, 5);

            /* Cuando se pasa el cursor por encima de los íconos */
            &:hover {
                background-color: nth($color-list, 1);
            }
        }

        /* La disposición de los iconos de redes */
        .redes {
            @include parametros-display (space-evenly);
            padding-top: 15px;
            padding-left: 0;
            padding-right: auto;
            flex-grow: 1;

            /* El "relleno" de los links, para que el hover quede más prolijo y para espaciarlos entre sí */
            a {
                padding: 20px;

                /* Para que se redondee el contenedor de los íconos */
                &:hover {
                    border-radius: 50px;
                }

                /* El tamaño de los íconos */
                img {
                    width: 30px;
                }
            }

            /* Mobile */
            @media screen and (max-width: 576px) {
                padding-top: 10px;
                padding-right: 0px;
            }

            /* Tablet */
            @media screen and (min-width: 576px) and (max-width: 992px) {
                padding-top: 15px;
                padding-left: 15px;
                width: 50px;
                padding-right: unset;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
        }

        /* El estilo y la disposición de contacto */
        .contacto {
            font-family: nth($font-list, 2);
            font-weight: normal;
            font-size: 1rem;
            text-align: right;
            padding-right: 15px;
            padding-top: 15px;
            padding-left: 0;

            /* Cuando se pasa el cursor por encima de contacto */
            a {
                &:hover {
                    background-color: nth($color-list, 1);
                }
            }

            /* Mobile */
            @media screen and (max-width: 576px) {
                text-align: center;
                padding: 15px;
            }
        }

        /* Mobile */
        @media screen and (max-width: 576px) {
            @include parametros-display (center);
            align-items: center;
        }
    }

    /* Derechos reservados */
    .derechos {
        @include parametros-font-color (nth($color-list, 5), nth($font-list, 3));
        font-size: 0.75rem;
        text-align: center;
        margin-bottom: 0;
    }
}